<nav class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo / App Name -->
      <div class="flex-shrink-0">
        <a routerLink="/" class="text-2xl font-bold text-indigo-600 tracking-widest">
          Banking App
        </a>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden lg:flex lg:items-center lg:space-x-2">
        <!-- Show when logged OUT -->
      <ng-container *ngIf="!(auth.isLoggedIn$ | async)">
          <a
          routerLink="/signup"
          class="px-4 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600 hover:bg-gray-50 transition"
          *ngIf="!token"
        >
          Sign Up
        </a>
        <a
          routerLink="/login"
          class="px-4 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600 hover:bg-gray-50 transition"
          *ngIf="!token"
        >
          Log In
        </a>
        </ng-container>

        <!-- Show when logged IN -->
        @if ((auth.isLoggedIn$ | async)) {
          <a
          routerLink="/home"
          class="px-4 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-indigo-600 hover:bg-gray-50 transition"
          
        >
          Home
        </a>  
        }

        <!-- Only show for Admin role -->
        <a
          routerLink="/admin"
          class="px-4 py-2 rounded-md text-sm font-medium text-red-600 hover:bg-red-50 transition"
          *ngIf="token"
        >
          Manage Loans
        </a>

        <!-- Logout -->
        <button
          (click)="logout()"
          class="px-4 py-2 rounded-md text-sm font-medium text-white bg-red-500 hover:bg-red-600 transition"
          *ngIf="token"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="p-8">
  <div class="mt-4 p-8 rounded-lg text-center text-gray-600">
    <router-outlet></router-outlet>
  </div>
</div>
